<mat-card class="demo-card demo-basic">
  <mat-card-content>
    <div fxLayout="row"
         fxLayoutAlign="end end">
         <!--a fxLayoutAlign="end end" class="blocks" [routerLink]="['/course/', course.id, course.title]">Courses</a-->
    </div>
    <mat-tab-group *ngIf="domain">
      <mat-tab  label="View">
        <div fxLayout="column"
             fxLayoutGap="10px">
            <h3>{{domain.name}}</h3>

            <p>
                {{domain.description}}
            </p>

            <p>
                add remarks
            </p>

            <p>
                {{domain.description}}
            </p>
        </div>
      </mat-tab>
      <mat-tab label="Form">

        <form *ngIf="domain != null" fxLayout="column"
              fxLayoutGap="10px"
              [formGroup]="form" (ngSubmit) = "onFormSubmit(form.value)">
              <input type="hidden"  formControlName="id">

              <mat-form-field fxFlexFill>
              <input matInput required placeholder="Domain name" formControlName="name">
              </mat-form-field>

              <mat-form-field fxFlexFill>
                <textarea matInput
                          matTextareaAutosize
                          matAutosizeMaxRows="10"
                          required placeholder="Description" formControlName="description"></textarea>
              </mat-form-field>
             <div fxLayout ="row"
                  fxLayoutAlign="end end">
                  <button>Update</button>
             </div>
           </form>
        </mat-tab>
        <mat-tab label="Settings">
        <div fxLayout="column"
             fxLayoutGap="10px">
            <h3>{{domain.name}}</h3>

            <p>
                {{domain.description}}
            </p>

            <p>
                add remarks
            </p>

            <p>
                {{domain.description}}
            </p>
        </div>
      </mat-tab>
      </mat-tab-group>
  </mat-card-content>
</mat-card>
