:host {
  display: block;
  width: 100%;
  height: 100%;
}
.course-thumbnail{
  width: 200px;
  height: 200px;
  border: 2px solid gray;
}

.courses-list{
  padding: 0 5%;
}

.courses-list .course{
  height: 110px;

  border: 2px solid #7FB3D5;
  border-top: solid 1px #EAF2F8;
  border-bottom: 3px groove #2980B9;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.courses-list .course .logo{
  background: gray;
  height: 100px;
  width: 100px;
  margin: 0 5px;
}
.courses-list .blocks .content{

}
