<!--button mat-mini-fab></button>
<div fxFlexFill [fxLayout]="row" fxLayoutAlign="center center">
  <mat-card style="margin:0; width:200px;">
    Login
    <mat-card-content>
      <mat-input-container>
        <input mat-input placeholder="Login ID"/>
      </mat-input-container>
      <mat-input-container>
        <input mat-input placeholder="Password"/>
      </mat-input-container>
    </mat-card-content>
    <mat-card-actions class="button-row">

    </mat-card-actions>
  </mat-card>
</div-->
<!--mat-card class="demo-card demo-basic">
  <mat-toolbar color="primary">Login</mat-toolbar>
  <mat-card-content>
    <form>
       <mat-form-field>
         <input matInput required placeholder="Login ID">
       </mat-form-field>
       <mat-form-field>
         <input matInput required placeholder="Password">
       </mat-form-field>
    </form>
    </mat-card-content>
</mat-card-->
